## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

__What variable(s) are the target(s) for your model?__

'IS_SUCCESSFUL'

__What variable(s) are the feature(s) for your model?__

All other columns

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df['APPLICATION_TYPE'].value_counts()
app_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = app_type.loc[app_type.values < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts.loc[class_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_counts.loc[class_counts.values < 1800].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_hot = list(application_df.select_dtypes(include="object").columns)
encoded_columns = pd.get_dummies(application_df[categorical_hot]).astype(int)
encoded_columns

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34296,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34297,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns=['IS_SUCCESSFUL'])
X.drop(categorical_hot, axis=1, inplace=True)
X = pd.concat([X, encoded_columns], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [11]:
len(X.columns)

43

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train.columns)
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

# Initialise sequential model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(
    units = hidden_nodes_layer1,
    input_dim = number_input_features,
    activation = "relu"
))

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    units = hidden_nodes_layer2,
    activation = "relu"
))

# Output layer
nn.add(tf.keras.layers.Dense(
    units = 1,
    activation = "sigmoid"
))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                3520

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
# Compile the model
nn.compile(
    loss = "binary_crossentropy",
    optimizer = "adam",
    metrics = ["accuracy"]
)

In [36]:
from tensorflow.keras.callbacks import ModelCheckpoint
filepath="weights-improvement-{epoch:02d}-{accuracy:.2f}.hdf5"
checkpoint = ModelCheckpoint(filepath, monitor='accuracy', verbose=1, save_best_only=True, mode='max')
callbacks_list = [checkpoint]

In [ ]:
# Train the model
fit_model = nn.fit(
    X_train_scaled,
    y_train,
    epochs = 100,
    callbacks = callbacks_list
)

Epoch 1/100
714/804 [=========================>....] - ETA: 0s - loss: 0.5336 - accuracy: 0.7403
Epoch 1: accuracy improved from -inf to 0.74032, saving model to weights-improvement-01-0.74.hdf5
804/804 [==============================] - 0s 569us/step - loss: 0.5336 - accuracy: 0.7403
Epoch 2/100
738/804 [==========================>...] - ETA: 0s - loss: 0.5337 - accuracy: 0.7391
Epoch 2: accuracy did not improve from 0.74032
804/804 [==============================] - 0s 546us/step - loss: 0.5340 - accuracy: 0.7391
Epoch 3/100
738/804 [==========================>...] - ETA: 0s - loss: 0.5323 - accuracy: 0.7417
Epoch 3: accuracy improved from 0.74032 to 0.74044, saving model to weights-improvement-03-0.74.hdf5
804/804 [==============================] - 0s 557us/step - loss: 0.5339 - accuracy: 0.7404
Epoch 4/100
731/804 [==========================>...] - ETA: 0s - loss: 0.5337 - accuracy: 0.7404
Epoch 4: accuracy improved from 0.74044 to 0.74063, saving model to weights-improvement-04-0.74.hdf5
804/804 [==============================] - 0s 559us/step - loss: 0.5339 - accuracy: 0.7406
Epoch 5/100
720/804 [=========================>....] - ETA: 0s - loss: 0.5354 - accuracy: 0.7390
Epoch 5: accuracy did not improve from 0.74063
804/804 [==============================] - 0s 559us/step - loss: 0.5338 - accuracy: 0.7406
Epoch 6/100
721/804 [=========================>....] - ETA: 0s - loss: 0.5336 - accuracy: 0.7402
Epoch 6: accuracy did not improve from 0.74063
804/804 [==============================] - 0s 561us/step - loss: 0.5337 - accuracy: 0.7405
Epoch 7/100
714/804 [=========================>....] - ETA: 0s - loss: 0.5325 - accuracy: 0.7405
Epoch 7: accuracy did not improve from 0.74063
804/804 [==============================] - 0s 561us/step - loss: 0.5338 - accuracy: 0.7404
Epoch 8/100
738/804 [==========================>...] - ETA: 0s - loss: 0.5324 - accuracy: 0.7412
Epoch 8: accuracy improved from 0.74063 to 0.74079, saving model to weights-improvement-08-0.74.hdf5
804/804 [==============================] - 0s 557us/step - loss: 0.5335 - accuracy: 0.7408
Epoch 9/100
736/804 [==========================>...] - ETA: 0s - loss: 0.5321 - accuracy: 0.7414
Epoch 9: accuracy did not improve from 0.74079
804/804 [==============================] - 0s 549us/step - loss: 0.5336 - accuracy: 0.7406
Epoch 10/100
731/804 [==========================>...] - ETA: 0s - loss: 0.5331 - accuracy: 0.7401
Epoch 10: accuracy did not improve from 0.74079
804/804 [==============================] - 0s 554us/step - loss: 0.5335 - accuracy: 0.7400
Epoch 11/100
714/804 [=========================>....] - ETA: 0s - loss: 0.5324 - accuracy: 0.7416
Epoch 11: accuracy did not improve from 0.74079
804/804 [==============================] - 0s 564us/step - loss: 0.5333 - accuracy: 0.7405
Epoch 12/100
752/804 [===========================>..] - ETA: 0s - loss: 0.5337 - accuracy: 0.7401
Epoch 12: accuracy did not improve from 0.74079
804/804 [==============================] - 0s 538us/step - loss: 0.5335 - accuracy: 0.7404
Epoch 13/100
735/804 [==========================>...] - ETA: 0s - loss: 0.5330 - accuracy: 0.7404
Epoch 13: accuracy did not improve from 0.74079
804/804 [==============================] - 0s 551us/step - loss: 0.5336 - accuracy: 0.7399
Epoch 14/100
724/804 [==========================>...] - ETA: 0s - loss: 0.5323 - accuracy: 0.7405
Epoch 14: accuracy did not improve from 0.74079
804/804 [==============================] - 0s 559us/step - loss: 0.5331 - accuracy: 0.7406
Epoch 15/100
801/804 [============================>.] - ETA: 0s - loss: 0.5336 - accuracy: 0.7397
Epoch 15: accuracy did not improve from 0.74079
804/804 [==============================] - 0s 567us/step - loss: 0.5333 - accuracy: 0.7399
Epoch 16/100
748/804 [==========================>...] - ETA: 0s - loss: 0.5324 - accuracy: 0.7418
Epoch 16: accuracy improved from 0.74079 to 0.74083, saving model to weights-improvement-16-0.74.hdf5
804/804 [==============================] - 0s 548us/step - loss: 0.5336 - accuracy: 0.7408
Epoch 17/100
729/804 [==========================>...] - ETA: 0s - loss: 0.5326 - accuracy: 0.7418
Epoch 17: accuracy improved from 0.74083 to 0.74086, saving model to weights-improvement-17-0.74.hdf5
804/804 [==============================] - 0s 562us/step - loss: 0.5335 - accuracy: 0.7409
Epoch 18/100
800/804 [============================>.] - ETA: 0s - loss: 0.5340 - accuracy: 0.7400
Epoch 18: accuracy did not improve from 0.74086
804/804 [==============================] - 0s 568us/step - loss: 0.5338 - accuracy: 0.7402
Epoch 19/100
766/804 [===========================>..] - ETA: 0s - loss: 0.5339 - accuracy: 0.7396
Epoch 19: accuracy did not improve from 0.74086
804/804 [==============================] - 0s 595us/step - loss: 0.5332 - accuracy: 0.7399
Epoch 20/100
741/804 [==========================>...] - ETA: 0s - loss: 0.5328 - accuracy: 0.7403
Epoch 20: accuracy did not improve from 0.74086
804/804 [==============================] - 0s 611us/step - loss: 0.5330 - accuracy: 0.7399
Epoch 21/100
717/804 [=========================>....] - ETA: 0s - loss: 0.5316 - accuracy: 0.7422
Epoch 21: accuracy did not improve from 0.74086
804/804 [==============================] - 0s 562us/step - loss: 0.5329 - accuracy: 0.7409
Epoch 22/100
730/804 [==========================>...] - ETA: 0s - loss: 0.5344 - accuracy: 0.7400
Epoch 22: accuracy improved from 0.74086 to 0.74110, saving model to weights-improvement-22-0.74.hdf5
804/804 [==============================] - 0s 563us/step - loss: 0.5335 - accuracy: 0.7411
Epoch 23/100
726/804 [==========================>...] - ETA: 0s - loss: 0.5340 - accuracy: 0.7408
Epoch 23: accuracy did not improve from 0.74110
804/804 [==============================] - 0s 556us/step - loss: 0.5333 - accuracy: 0.7410
Epoch 24/100
803/804 [============================>.] - ETA: 0s - loss: 0.5327 - accuracy: 0.7404
Epoch 24: accuracy did not improve from 0.74110
804/804 [==============================] - 0s 566us/step - loss: 0.5327 - accuracy: 0.7404
Epoch 25/100
732/804 [==========================>...] - ETA: 0s - loss: 0.5334 - accuracy: 0.7382
Epoch 25: accuracy did not improve from 0.74110
804/804 [==============================] - 0s 553us/step - loss: 0.5331 - accuracy: 0.7392
Epoch 26/100
730/804 [==========================>...] - ETA: 0s - loss: 0.5338 - accuracy: 0.7395
Epoch 26: accuracy did not improve from 0.74110
804/804 [==============================] - 0s 552us/step - loss: 0.5331 - accuracy: 0.7402
Epoch 27/100
735/804 [==========================>...] - ETA: 0s - loss: 0.5347 - accuracy: 0.7403
Epoch 27: accuracy improved from 0.74110 to 0.74195, saving model to weights-improvement-27-0.74.hdf5
804/804 [==============================] - 0s 561us/step - loss: 0.5331 - accuracy: 0.7420
Epoch 28/100
731/804 [==========================>...] - ETA: 0s - loss: 0.5331 - accuracy: 0.7409
Epoch 28: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 554us/step - loss: 0.5334 - accuracy: 0.7406
Epoch 29/100
726/804 [==========================>...] - ETA: 0s - loss: 0.5331 - accuracy: 0.7401
Epoch 29: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 554us/step - loss: 0.5331 - accuracy: 0.7399
Epoch 30/100
774/804 [===========================>..] - ETA: 0s - loss: 0.5328 - accuracy: 0.7398
Epoch 30: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 588us/step - loss: 0.5329 - accuracy: 0.7399
Epoch 31/100
796/804 [============================>.] - ETA: 0s - loss: 0.5330 - accuracy: 0.7409
Epoch 31: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 572us/step - loss: 0.5332 - accuracy: 0.7408
Epoch 32/100
803/804 [============================>.] - ETA: 0s - loss: 0.5329 - accuracy: 0.7406
Epoch 32: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 566us/step - loss: 0.5327 - accuracy: 0.7407
Epoch 33/100
784/804 [============================>.] - ETA: 0s - loss: 0.5337 - accuracy: 0.7400
Epoch 33: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 581us/step - loss: 0.5330 - accuracy: 0.7405
Epoch 34/100
802/804 [============================>.] - ETA: 0s - loss: 0.5326 - accuracy: 0.7407
Epoch 34: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 567us/step - loss: 0.5326 - accuracy: 0.7408
Epoch 35/100
715/804 [=========================>....] - ETA: 0s - loss: 0.5325 - accuracy: 0.7402
Epoch 35: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 562us/step - loss: 0.5329 - accuracy: 0.7406
Epoch 36/100
802/804 [============================>.] - ETA: 0s - loss: 0.5330 - accuracy: 0.7408
Epoch 36: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 567us/step - loss: 0.5329 - accuracy: 0.7409
Epoch 37/100
717/804 [=========================>....] - ETA: 0s - loss: 0.5322 - accuracy: 0.7423
Epoch 37: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 562us/step - loss: 0.5329 - accuracy: 0.7411
Epoch 38/100
728/804 [==========================>...] - ETA: 0s - loss: 0.5329 - accuracy: 0.7407
Epoch 38: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 554us/step - loss: 0.5330 - accuracy: 0.7406
Epoch 39/100
725/804 [==========================>...] - ETA: 0s - loss: 0.5318 - accuracy: 0.7414
Epoch 39: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 558us/step - loss: 0.5328 - accuracy: 0.7410
Epoch 40/100
730/804 [==========================>...] - ETA: 0s - loss: 0.5325 - accuracy: 0.7409
Epoch 40: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 552us/step - loss: 0.5330 - accuracy: 0.7403
Epoch 41/100
795/804 [============================>.] - ETA: 0s - loss: 0.5328 - accuracy: 0.7405
Epoch 41: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 573us/step - loss: 0.5328 - accuracy: 0.7406
Epoch 42/100
768/804 [===========================>..] - ETA: 0s - loss: 0.5318 - accuracy: 0.7421
Epoch 42: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 593us/step - loss: 0.5326 - accuracy: 0.7413
Epoch 43/100
755/804 [===========================>..] - ETA: 0s - loss: 0.5338 - accuracy: 0.7397
Epoch 43: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 540us/step - loss: 0.5329 - accuracy: 0.7404
Epoch 44/100
757/804 [===========================>..] - ETA: 0s - loss: 0.5322 - accuracy: 0.7403
Epoch 44: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 598us/step - loss: 0.5325 - accuracy: 0.7408
Epoch 45/100
767/804 [===========================>..] - ETA: 0s - loss: 0.5321 - accuracy: 0.7409
Epoch 45: accuracy did not improve from 0.74195
804/804 [==============================] - 0s 592us/step - loss: 0.5326 - accuracy: 0.7407
Epoch 46/100
  1/804 [..............................] - ETA: 0s - loss: 0.6062 - accuracy: 0.6562

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(
    X_test_scaled,
    y_test,
    verbose=2
)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5587 - accuracy: 0.7278 - 137ms/epoch - 513us/step
Loss: 0.558658242225647, Accuracy: 0.7278134226799011

In [31]:
# Export our model to HDF5 file
nn.save('iteration_1.h5', save_format='h5')