## Preprocessing

In [78]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

__What variable(s) are the target(s) for your model?__

'IS_SUCCESSFUL'

__What variable(s) are the feature(s) for your model?__

All other columns

In [79]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [80]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [81]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df['APPLICATION_TYPE'].value_counts()
app_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [82]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = app_type.loc[app_type.values < 10].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: count, dtype: int64

In [83]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [84]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts.loc[class_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [85]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_counts.loc[class_counts.values < 10].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: count, dtype: int64

In [86]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_hot = list(application_df.select_dtypes(include="object").columns)
encoded_columns = pd.get_dummies(application_df[categorical_hot]).astype(int)
encoded_columns

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [87]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns=['IS_SUCCESSFUL'])
X.drop(categorical_hot, axis=1, inplace=True)
X = pd.concat([X, encoded_columns], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [88]:
len(X.columns)

71

In [89]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [144]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train.columns)
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 100
hidden_nodes_layer3 = 100

# Initialise sequential model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(
    units = hidden_nodes_layer1,
    input_dim = number_input_features,
    activation = "linear"
))

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    units = hidden_nodes_layer2,
    activation = "relu"
))

# Third hidden layer
nn.add(tf.keras.layers.Dense(
    units = hidden_nodes_layer3,
    activation = "tanh"
))

# Output layer
nn.add(tf.keras.layers.Dense(
    units = 1,
    activation = "sigmoid"
))

# Check the structure of the model
nn.summary()

Model: "sequential_14"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_48 (Dense)            (None, 80)                5760

 dense_49 (Dense)            (None, 100)               8100

 dense_50 (Dense)            (None, 100)               10100

 dense_51 (Dense)            (None, 1)                 101

=================================================================
Total params: 24061 (93.99 KB)
Trainable params: 24061 (93.99 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [145]:
# Compile the model
nn.compile(
    loss = "binary_crossentropy",
    optimizer = "adam",
    metrics = ["accuracy"]
)

In [146]:
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoints filepath
filepath = "weights-improvement-{epoch:02d}-{accuracy:.2f}.hdf5"

# Create a checkpoint
checkpoint = ModelCheckpoint(
    filepath,
    monitor='accuracy',
    verbose=1,
    save_best_only=True,
    mode='max'
)

# Create the callbacks list
callbacks_list = [checkpoint]

In [147]:
# Train the model
fit_model = nn.fit(
    X_train_scaled,
    y_train,
    epochs = 100,
    callbacks = callbacks_list,
    verbose = 0
)

Epoch 1: accuracy improved from -inf to 0.72096, saving model to weights-improvement-01-0.72.hdf5

Epoch 2: accuracy improved from 0.72096 to 0.72601, saving model to weights-improvement-02-0.73.hdf5

Epoch 3: accuracy improved from 0.72601 to 0.72850, saving model to weights-improvement-03-0.73.hdf5

Epoch 4: accuracy improved from 0.72850 to 0.73056, saving model to weights-improvement-04-0.73.hdf5

Epoch 5: accuracy did not improve from 0.73056

Epoch 6: accuracy did not improve from 0.73056

Epoch 7: accuracy improved from 0.73056 to 0.73313, saving model to weights-improvement-07-0.73.hdf5

Epoch 8: accuracy did not improve from 0.73313

Epoch 9: accuracy improved from 0.73313 to 0.73344, saving model to weights-improvement-09-0.73.hdf5

Epoch 10: accuracy did not improve from 0.73344

Epoch 11: accuracy did not improve from 0.73344

Epoch 12: accuracy improved from 0.73344 to 0.73367, saving model to weights-improvement-12-0.73.hdf5

Epoch 13: accuracy did not improve from 0.73367

Epoch 14: accuracy improved from 0.73367 to 0.73507, saving model to weights-improvement-14-0.74.hdf5

Epoch 15: accuracy did not improve from 0.73507

Epoch 16: accuracy improved from 0.73507 to 0.73534, saving model to weights-improvement-16-0.74.hdf5

Epoch 17: accuracy did not improve from 0.73534

Epoch 18: accuracy improved from 0.73534 to 0.73562, saving model to weights-improvement-18-0.74.hdf5

Epoch 19: accuracy did not improve from 0.73562

Epoch 20: accuracy did not improve from 0.73562

Epoch 21: accuracy improved from 0.73562 to 0.73573, saving model to weights-improvement-21-0.74.hdf5

Epoch 22: accuracy improved from 0.73573 to 0.73647, saving model to weights-improvement-22-0.74.hdf5

Epoch 23: accuracy did not improve from 0.73647

Epoch 24: accuracy improved from 0.73647 to 0.73663, saving model to weights-improvement-24-0.74.hdf5

Epoch 25: accuracy improved from 0.73663 to 0.73748, saving model to weights-improvement-25-0.74.hdf5

Epoch 26: accuracy did not improve from 0.73748

Epoch 27: accuracy did not improve from 0.73748

Epoch 28: accuracy did not improve from 0.73748

Epoch 29: accuracy did not improve from 0.73748

Epoch 30: accuracy did not improve from 0.73748

Epoch 31: accuracy did not improve from 0.73748

Epoch 32: accuracy did not improve from 0.73748

Epoch 33: accuracy did not improve from 0.73748

Epoch 34: accuracy improved from 0.73748 to 0.73756, saving model to weights-improvement-34-0.74.hdf5

Epoch 35: accuracy did not improve from 0.73756

Epoch 36: accuracy did not improve from 0.73756

Epoch 37: accuracy did not improve from 0.73756

Epoch 38: accuracy did not improve from 0.73756

Epoch 39: accuracy improved from 0.73756 to 0.73779, saving model to weights-improvement-39-0.74.hdf5

Epoch 40: accuracy improved from 0.73779 to 0.73814, saving model to weights-improvement-40-0.74.hdf5

Epoch 41: accuracy did not improve from 0.73814

Epoch 42: accuracy improved from 0.73814 to 0.73888, saving model to weights-improvement-42-0.74.hdf5

Epoch 43: accuracy did not improve from 0.73888

Epoch 44: accuracy did not improve from 0.73888

Epoch 45: accuracy did not improve from 0.73888

Epoch 46: accuracy did not improve from 0.73888

Epoch 47: accuracy did not improve from 0.73888

Epoch 48: accuracy did not improve from 0.73888

Epoch 49: accuracy did not improve from 0.73888

Epoch 50: accuracy did not improve from 0.73888

Epoch 51: accuracy did not improve from 0.73888

Epoch 52: accuracy did not improve from 0.73888

Epoch 53: accuracy did not improve from 0.73888

Epoch 54: accuracy did not improve from 0.73888

Epoch 55: accuracy did not improve from 0.73888

Epoch 56: accuracy did not improve from 0.73888

Epoch 57: accuracy did not improve from 0.73888

Epoch 58: accuracy did not improve from 0.73888

Epoch 59: accuracy did not improve from 0.73888

Epoch 60: accuracy did not improve from 0.73888

Epoch 61: accuracy did not improve from 0.73888

Epoch 62: accuracy did not improve from 0.73888

Epoch 63: accuracy did not improve from 0.73888

Epoch 64: accuracy did not improve from 0.73888

Epoch 65: accuracy did not improve from 0.73888

Epoch 66: accuracy did not improve from 0.73888

Epoch 67: accuracy improved from 0.73888 to 0.73993, saving model to weights-improvement-67-0.74.hdf5

Epoch 68: accuracy did not improve from 0.73993

Epoch 69: accuracy did not improve from 0.73993

Epoch 70: accuracy did not improve from 0.73993

Epoch 71: accuracy did not improve from 0.73993

Epoch 72: accuracy did not improve from 0.73993

Epoch 73: accuracy did not improve from 0.73993

Epoch 74: accuracy did not improve from 0.73993

Epoch 75: accuracy did not improve from 0.73993

Epoch 76: accuracy did not improve from 0.73993

Epoch 77: accuracy did not improve from 0.73993

Epoch 78: accuracy did not improve from 0.73993

Epoch 79: accuracy did not improve from 0.73993

Epoch 80: accuracy did not improve from 0.73993

Epoch 81: accuracy did not improve from 0.73993

Epoch 82: accuracy did not improve from 0.73993

Epoch 83: accuracy did not improve from 0.73993

Epoch 84: accuracy did not improve from 0.73993

Epoch 85: accuracy did not improve from 0.73993

Epoch 86: accuracy did not improve from 0.73993

Epoch 87: accuracy did not improve from 0.73993

Epoch 88: accuracy did not improve from 0.73993

Epoch 89: accuracy did not improve from 0.73993

Epoch 90: accuracy did not improve from 0.73993

Epoch 91: accuracy did not improve from 0.73993

Epoch 92: accuracy did not improve from 0.73993

Epoch 93: accuracy did not improve from 0.73993

Epoch 94: accuracy did not improve from 0.73993

Epoch 95: accuracy did not improve from 0.73993

Epoch 96: accuracy did not improve from 0.73993

Epoch 97: accuracy did not improve from 0.73993

Epoch 98: accuracy did not improve from 0.73993

Epoch 99: accuracy did not improve from 0.73993

Epoch 100: accuracy did not improve from 0.73993

In [148]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(
    X_test_scaled,
    y_test,
    verbose = 2
)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5557 - accuracy: 0.7310 - 149ms/epoch - 554us/step
Loss: 0.5556774139404297, Accuracy: 0.7309620976448059

In [31]:
# Export our model to HDF5 file
nn.save('iteration_1.h5', save_format='h5')