# Preprocessing

In [45]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import pandas as pd
import math
from pprint import pprint

import tensorflow as tf
from tensorflow.keras import layers
from tensorflow.keras.callbacks import ModelCheckpoint
import keras_tuner as kt

In [46]:
# Import and read the charity_data.csv
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

__What variable(s) are the target(s) for your model?__ 'IS_SUCCESSFUL'

__What variable(s) are the feature(s) for your model?__ All other columns

In [11]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN'])

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

In [47]:
# For encoding consistency, convert STATUS to Y/N instead of 1/0.
application_df['STATUS'] = application_df['STATUS'].map({
    0: 'N',
    1: 'Y'
})

In [48]:
# Display the data types and non-null count
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  object
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(9)
memory usage: 3.1+ MB

In [49]:
# Determine whether there is an imbalance in the target variable
application_df['IS_SUCCESSFUL'].value_counts()

IS_SUCCESSFUL
1    18261
0    16038
Name: count, dtype: int64

No, there is no apparent imbalance in the target variable.

## Categorical Columns Exploration

In [50]:
# Get all the columns which are categorical
categorical_cols = list(application_df.select_dtypes(include="object").columns)
categorical_cols

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

### Limit the Number of Unique Values

In [ ]:
# Define the upper limit of unique values
max_unique = 10

In [ ]:
# Determine number of unique values in each column
many_unique = []
for col in categorical_cols:
    num_unique = len(application_df[col].unique())
    
    # Append columns which exceed max_unique
    if num_unique > max_unique:
        many_unique.append(col)
        # if col == "NAME":
        #     continue
        # else:
        #     many_unique.append(col)
    
    print(f'{col}: {num_unique}')

print(f'\nColumns with >{max_unique} values: {many_unique}')

In [51]:
def limit_unique(df, max_value, columns_to_limit):
    """
    Purpose of the function is to limit the number of unique values
    """
    
    # Loop through each column
    for col in columns_to_limit:
        # Get the value counts of the column
        total_counts = df[col].value_counts()
        
        # Get the top values to retain, not including "Other"
        top_counts = total_counts[:max_value-1]
        
        # Define the cutoff
        cutoff_value = top_counts.iloc[-1]
        
        # Create a list of values to replace
        replace_values = total_counts.loc[total_counts.values < cutoff_value].index
        
        # Replace in dataframe
        for value in replace_values:
            df[col] = df[col].replace(value, "Other")
        
        # Check to make sure binning was successful
        print(df[col].value_counts())
        print(f'Number of unique values: {df[col].nunique()}\n')

In [ ]:
# Limit the unique values of columns with >10 unique values
limit_unique(application_df, max_unique, many_unique)

In [52]:
# Limit APPLICATION_TYPE and CLASSIFICATION to 10 unique values
limit_unique(application_df, 8, ['APPLICATION_TYPE', 'CLASSIFICATION'])

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: count, dtype: int64
Number of unique values: 8

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: count, dtype: int64
Number of unique values: 8

In [53]:
# Limit NAME to 20 unique values
limit_unique(application_df, 10, ['NAME'])

NAME
Other                                              29369
PARENT BOOSTER USA INC                              1260
TOPS CLUB INC                                        765
UNITED STATES BOWLING CONGRESS INC                   700
WASHINGTON STATE UNIVERSITY                          492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC      408
PTA TEXAS CONGRESS                                   368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC        331
ALPHA PHI SIGMA                                      313
TOASTMASTERS INTERNATIONAL                           293
Name: count, dtype: int64
Number of unique values: 10

### Explore the distribution of values

In [20]:
# Explore the distribution of values for each column
for col in categorical_cols:
    if col in many_unique:
        continue
    else:
        print(application_df[col].value_counts(), '\n')

NameError: name 'many_unique' is not defined

In [ ]:
# Explore AFFILIATION
counts = application_df['SPECIAL_CONSIDERATIONS'].loc[application_df['IS_SUCCESSFUL'] == 1].value_counts()
total_count = application_df['SPECIAL_CONSIDERATIONS'].loc[application_df['IS_SUCCESSFUL'] == 1].count()
percentages = counts / total_count * 100

print(counts)
percentages

__TEST IDEAS__

- Test whether removing these imbalanced columns will improve performance.
- Test whether one-hot encoding or label encoding will be better.

__Hypothesis__: Although label encoding seems more logical (since binary), it might be better to use one-hot encoding to prevent the "heavier" weighting to the '1' value compared to '0'.

### Explore discrepancy in `INCOME_AMT`
- There is no data on: `500000-1M`
- Solution: Convert to ordinal encoding to account for this

In [ ]:
# Convert each value to an ordinal score
income_map = {
    '0': 0,
    '1-9999': 1,
    '10000-24999': 2,
    '25000-99999': 3,
    '100000-499999': 4,
    '500000-1M': 5, # No data in this category
    '1M-5M': 6,
    '5M-10M': 7,
    '10M-50M': 8,
    '50M+': 9
}
application_df['ORDINAL_INCOME_AMT'] = application_df['INCOME_AMT'].map(income_map)

__TEST IDEA__

Explore whether there is an effect to dropping the `INCOME_AMT`.

### Compare `ASK_AMT` to `INCOME_AMT`

In [ ]:
# Display all possible values for INCOME_AMT
application_df['INCOME_AMT'].value_counts()

In [ ]:
# Split the bounded values by the hyphen and create new columns
application_df[['LOWER_INCOME', 'UPPER_INCOME']] = application_df['INCOME_AMT'].str.split('-', expand=True)

In [ ]:
# If INCOME_AMT contains "M", convert to e6.
application_df['UPPER_INCOME'] = application_df['UPPER_INCOME'].str.replace('M', 'e6')
application_df['LOWER_INCOME'] = application_df['LOWER_INCOME'].str.replace('M', 'e6')

# Confirm changes
display(application_df[['LOWER_INCOME', 'UPPER_INCOME']].value_counts())
application_df.head()

In [ ]:
# Address 'None' values in UPPER_INCOME. If INCOME_AMT is '0', set UPPER_INCOME to 0.
application_df.loc[application_df['LOWER_INCOME'] == '0', 'UPPER_INCOME'] = 0
application_df.head()

In [ ]:
# Address INCOME_AMT values with `50M+`
application_df.loc[application_df['INCOME_AMT'] == '50M+']

# Convert UPPER_INCOME NaN values to 100M
application_df.loc[application_df['INCOME_AMT'] == '50M+', 'UPPER_INCOME'] = 1000e6

# Convert to '50M+' to 50e6
application_df['LOWER_INCOME'] = application_df['LOWER_INCOME'].replace('50e6+', '50e6')

# Convert column to integer
application_df['LOWER_INCOME'] = pd.to_numeric(application_df['LOWER_INCOME']).astype(int)
application_df['UPPER_INCOME'] = pd.to_numeric(application_df['UPPER_INCOME']).astype(int)

In [ ]:
# Create a new column that compares the ASK_AMT to LOWER_INCOME
application_df['ASK_VS_INCOME'] = application_df['ASK_AMT'] > application_df['LOWER_INCOME']

# Convert boolean to Y/N for consistency
application_df['ASK_VS_INCOME'] = application_df['ASK_VS_INCOME'].map({
    False: 'N',
    True: 'Y'
})

# Display updated dataframe
application_df.head()

In [ ]:
application_df['ASK_VS_INCOME'].value_counts()

### AFFILIATION vs ORGANIZATION

In [ ]:
application_df['AFFILIATION'].value_counts()

In [ ]:
application_df['ORGANIZATION'].value_counts()

In [ ]:
application_df['AFFILIATION_ORGANIZATION'] = application_df['AFFILIATION'] + "_" + application_df['ORGANIZATION']
application_df['AFFILIATION_ORGANIZATION'].value_counts()

In [ ]:
limit_unique(application_df, max_unique, ['AFFILIATION_ORGANIZATION'])

### AFFILIATION vs USE_CASE

In [ ]:
application_df['AFFILIATION_USECASE'] = application_df['AFFILIATION'] + "_" + application_df['USE_CASE']
application_df['AFFILIATION_USECASE'].value_counts()

In [ ]:
limit_unique(application_df, max_unique, ['AFFILIATION_USECASE'])

## Encoding

In [54]:
# Check datatypes before encoding
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  object
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(9)
memory usage: 3.1+ MB

In [55]:
# Get all the columns which are categorical
categorical_hot = list(application_df.select_dtypes(include="object").columns)
categorical_hot

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'STATUS',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [56]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_columns = pd.get_dummies(application_df[categorical_hot]).astype(int)
encoded_columns.head()

,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_PTA TEXAS CONGRESS,NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC,NAME_TOASTMASTERS INTERNATIONAL,NAME_TOPS CLUB INC,NAME_UNITED STATES BOWLING CONGRESS INC,NAME_WASHINGTON STATE UNIVERSITY,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

## Split and Scale the Dataset

In [57]:
# Split our preprocessed data into our features and target arrays

# Isolate the target array
y = application_df['IS_SUCCESSFUL']

# Isolate the feature array
X = application_df.drop(columns=['IS_SUCCESSFUL'])

# Replace features with encoded equivalents
X.drop(categorical_hot, axis=1, inplace=True)

# Calculate updated feature array
X = pd.concat([X, encoded_columns], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

In [58]:
# Display the feature array
X.head()

,EIN,ASK_AMT,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_PTA TEXAS CONGRESS,NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC,NAME_TOASTMASTERS INTERNATIONAL,NAME_TOPS CLUB INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,5000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,10531628,108590,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,10547893,5000,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,10553066,6692,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,10556103,142590,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [59]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Tuning

In [60]:
# Define the model parameters
number_input_features = len(X_train.columns)
max_hidden_layers = 3 # lowest value permitted is 2, min. required for DL
max_num_neurons = number_input_features * 2 - 1
step_count = 5
activation_functions = [
    'relu', 'leaky_relu', 'tanh',
    'elu', 'selu', 'exponential',
    'softmax', 'softplus'
]
optimiser = "Adam"

In [61]:
def create_model(hp):
    nn_model = tf.keras.models.Sequential()
    
    # Choose activation function in hidden layers
    activation_first_hidden = hp.Choice('activation_layer_0', activation_functions)
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(
        units = hp.Int(
            'units_layer_0',
            min_value = 1,
            max_value = max_num_neurons,
            step = step_count),
        activation = activation_first_hidden,
        # kernel_regularizer = tf.keras.regularizers.L1(0.01),
        input_dim = number_input_features
    ))
    
    # # Tune whether to use dropout based on the Boolean hyperparameter
    # if hp.Boolean("use_dropout"):
    #     # Add a dropout layer if the Boolean hyperparameter is True
    #     nn_model.add(layers.Dropout(rate=0.5))  # Adjust the dropout rate as needed
    
    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    num_layers = hp.Int('num_layers', 1, max_hidden_layers-1) # options: 1, 2
    
    for i in range(1, num_layers+1): # i-values: 1, 2 only
        # Choose the number of neurons per layer
        units_layer_i = hp.Int(
            f'units_layer_{i}',
            min_value = 1,
            max_value = max_num_neurons,
            step = step_count
        )
        
        # Choose a different activation function for each layer
        activation_layer_i = hp.Choice(f'activation_layer_{i}', activation_functions)

        nn_model.add(tf.keras.layers.Dense(
            units = units_layer_i,
            activation = activation_layer_i
        ))
        
        # # Tune whether to use dropout based on the Boolean hyperparameter
        # if hp.Boolean("use_dropout"):
        #     # Add a dropout layer if the Boolean hyperparameter is True
        #     nn_model.add(layers.Dropout(rate=0.5))  # Adjust the dropout rate as needed

    # Add the output layer
    nn_model.add(tf.keras.layers.Dense(
        units = 1,
        activation = "sigmoid"
    ))

    # Compile the model
    nn_model.compile(
        loss = "binary_crossentropy",
        optimizer = optimiser,
        metrics = ["accuracy"]
    )
    
    return(nn_model)

In [62]:
# Initialise the Hyperband tuner
tuner = kt.Hyperband(
    create_model,
    objective = "val_accuracy",
    max_epochs = 20,
    hyperband_iterations = 2
)

In [63]:
# Find the best hyperparameters
tuner.search(
    X_train_scaled,
    y_train,
    epochs = 20,
    validation_data = (X_test_scaled, y_test)
)

Trial 60 Complete [00h 00m 11s]
val_accuracy: 0.7583673596382141

Best val_accuracy So Far: 0.7609329223632812
Total elapsed time: 00h 04m 36s

In [64]:
# Get the top 3 model hyperparameters
top3_hyper = tuner.get_best_hyperparameters(3)

for model in top3_hyper:
    pprint(model.values)

{'activation_layer_0': 'tanh',
 'activation_layer_1': 'softmax',
 'activation_layer_2': 'selu',
 'num_layers': 2,
 'tuner/bracket': 2,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/round': 2,
 'tuner/trial_id': '0044',
 'units_layer_0': 36,
 'units_layer_1': 46,
 'units_layer_2': 36}
{'activation_layer_0': 'selu',
 'activation_layer_1': 'softmax',
 'activation_layer_2': 'softplus',
 'num_layers': 1,
 'tuner/bracket': 1,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/round': 1,
 'tuner/trial_id': '0023',
 'units_layer_0': 66,
 'units_layer_1': 16,
 'units_layer_2': 11}
{'activation_layer_0': 'softmax',
 'activation_layer_1': 'softplus',
 'activation_layer_2': 'softmax',
 'num_layers': 2,
 'tuner/bracket': 2,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/round': 2,
 'tuner/trial_id': '0042',
 'units_layer_0': 66,
 'units_layer_1': 61,
 'units_layer_2': 106}

# Compile, Train, and Evaluate the Best Model

In [65]:
best_hyper = top3_hyper[0]
best_hyper.values

{'activation_layer_0': 'tanh',
 'units_layer_0': 36,
 'num_layers': 2,
 'units_layer_1': 46,
 'activation_layer_1': 'softmax',
 'units_layer_2': 36,
 'activation_layer_2': 'selu',
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 2,
 'tuner/round': 2,
 'tuner/trial_id': '0044'}

In [66]:
# Define the model parameters
number_input_features = len(X_train.columns)
hidden_layer0_neurons = best_hyper.values['units_layer_0']
hidden_layer0_activation = best_hyper.values['activation_layer_0']

# Return the number of hidden layers
total_hidden = best_hyper.values['num_layers'] + 1

In [67]:
# Initialise the sequential model
nn = tf.keras.models.Sequential()

# Create the input layer and first hidden layer
nn.add(tf.keras.layers.Dense(
    units = hidden_layer0_neurons,
    activation = hidden_layer0_activation,
    input_dim = number_input_features
))

# nn.add(layers.Dropout(rate=0.5))
        
# Create additional hidden layers
for layer in range(1, total_hidden):
    nn.add(tf.keras.layers.Dense(
        units = best_hyper.values[f'units_layer_{layer}'],
        activation = best_hyper.values[f'activation_layer_{layer}']
    ))
    # nn.add(layers.Dropout(rate=0.5))

# Create the output layer
nn.add(tf.keras.layers.Dense(
    units = 1,
    activation = "sigmoid"
))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 36)                2052

 dense_4 (Dense)             (None, 46)                1702

 dense_5 (Dense)             (None, 36)                1692

 dense_6 (Dense)             (None, 1)                 37

=================================================================
Total params: 5483 (21.42 KB)
Trainable params: 5483 (21.42 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [71]:
# Compile the model
nn.compile(
    loss = "binary_crossentropy",
    optimizer = optimiser,
    metrics = ["accuracy"]
)

In [72]:
# Train the model
fit_model = nn.fit(
    X_train_scaled,
    y_train,
    epochs = 50,
    verbose = 1
)

Epoch 1/50
804/804 [==============================] - 1s 557us/step - loss: 0.4837 - accuracy: 0.7635
Epoch 2/50
804/804 [==============================] - 0s 553us/step - loss: 0.4828 - accuracy: 0.7649
Epoch 3/50
804/804 [==============================] - 0s 558us/step - loss: 0.4826 - accuracy: 0.7656
Epoch 4/50
804/804 [==============================] - 0s 555us/step - loss: 0.4818 - accuracy: 0.7651
Epoch 5/50
804/804 [==============================] - 0s 554us/step - loss: 0.4823 - accuracy: 0.7642
Epoch 6/50
804/804 [==============================] - 0s 547us/step - loss: 0.4816 - accuracy: 0.7659
Epoch 7/50
804/804 [==============================] - 0s 552us/step - loss: 0.4813 - accuracy: 0.7657
Epoch 8/50
804/804 [==============================] - 0s 556us/step - loss: 0.4810 - accuracy: 0.7660
Epoch 9/50
804/804 [==============================] - 0s 558us/step - loss: 0.4807 - accuracy: 0.7652
Epoch 10/50
804/804 [==============================] - 0s 556us/step - loss: 0.4804 - accuracy: 0.7661
Epoch 11/50
804/804 [==============================] - 0s 548us/step - loss: 0.4803 - accuracy: 0.7648
Epoch 12/50
804/804 [==============================] - 0s 547us/step - loss: 0.4799 - accuracy: 0.7659
Epoch 13/50
804/804 [==============================] - 0s 548us/step - loss: 0.4799 - accuracy: 0.7669
Epoch 14/50
804/804 [==============================] - 0s 548us/step - loss: 0.4795 - accuracy: 0.7679
Epoch 15/50
804/804 [==============================] - 0s 549us/step - loss: 0.4795 - accuracy: 0.7676
Epoch 16/50
804/804 [==============================] - 0s 548us/step - loss: 0.4791 - accuracy: 0.7667
Epoch 17/50
804/804 [==============================] - 0s 550us/step - loss: 0.4787 - accuracy: 0.7682
Epoch 18/50
804/804 [==============================] - 0s 548us/step - loss: 0.4786 - accuracy: 0.7676
Epoch 19/50
804/804 [==============================] - 0s 550us/step - loss: 0.4778 - accuracy: 0.7687
Epoch 20/50
804/804 [==============================] - 0s 558us/step - loss: 0.4780 - accuracy: 0.7675
Epoch 21/50
804/804 [==============================] - 0s 565us/step - loss: 0.4778 - accuracy: 0.7673
Epoch 22/50
804/804 [==============================] - 0s 585us/step - loss: 0.4777 - accuracy: 0.7677
Epoch 23/50
804/804 [==============================] - 0s 602us/step - loss: 0.4773 - accuracy: 0.7683
Epoch 24/50
804/804 [==============================] - 0s 596us/step - loss: 0.4773 - accuracy: 0.7687
Epoch 25/50
804/804 [==============================] - 0s 580us/step - loss: 0.4771 - accuracy: 0.7683
Epoch 26/50
804/804 [==============================] - 0s 568us/step - loss: 0.4763 - accuracy: 0.7680
Epoch 27/50
804/804 [==============================] - 0s 557us/step - loss: 0.4768 - accuracy: 0.7687
Epoch 28/50
804/804 [==============================] - 0s 551us/step - loss: 0.4764 - accuracy: 0.7684
Epoch 29/50
804/804 [==============================] - 0s 553us/step - loss: 0.4760 - accuracy: 0.7685
Epoch 30/50
804/804 [==============================] - 1s 784us/step - loss: 0.4756 - accuracy: 0.7690
Epoch 31/50
804/804 [==============================] - 0s 551us/step - loss: 0.4752 - accuracy: 0.7692
Epoch 32/50
804/804 [==============================] - 0s 550us/step - loss: 0.4752 - accuracy: 0.7699
Epoch 33/50
804/804 [==============================] - 0s 551us/step - loss: 0.4750 - accuracy: 0.7692
Epoch 34/50
804/804 [==============================] - 0s 563us/step - loss: 0.4750 - accuracy: 0.7690
Epoch 35/50
804/804 [==============================] - 0s 551us/step - loss: 0.4744 - accuracy: 0.7700
Epoch 36/50
804/804 [==============================] - 0s 549us/step - loss: 0.4748 - accuracy: 0.7703
Epoch 37/50
804/804 [==============================] - 0s 566us/step - loss: 0.4743 - accuracy: 0.7701
Epoch 38/50
804/804 [==============================] - 0s 564us/step - loss: 0.4739 - accuracy: 0.7710
Epoch 39/50
804/804 [==============================] - 0s 561us/step - loss: 0.4736 - accuracy: 0.7691
Epoch 40/50
804/804 [==============================] - 0s 560us/step - loss: 0.4735 - accuracy: 0.7689
Epoch 41/50
804/804 [==============================] - 0s 581us/step - loss: 0.4733 - accuracy: 0.7707
Epoch 42/50
804/804 [==============================] - 0s 554us/step - loss: 0.4732 - accuracy: 0.7702
Epoch 43/50
804/804 [==============================] - 0s 565us/step - loss: 0.4733 - accuracy: 0.7698
Epoch 44/50
804/804 [==============================] - 0s 554us/step - loss: 0.4730 - accuracy: 0.7697
Epoch 45/50
804/804 [==============================] - 0s 551us/step - loss: 0.4729 - accuracy: 0.7706
Epoch 46/50
804/804 [==============================] - 0s 557us/step - loss: 0.4725 - accuracy: 0.7707
Epoch 47/50
804/804 [==============================] - 0s 567us/step - loss: 0.4721 - accuracy: 0.7701
Epoch 48/50
804/804 [==============================] - 0s 570us/step - loss: 0.4719 - accuracy: 0.7713
Epoch 49/50
804/804 [==============================] - 0s 554us/step - loss: 0.4716 - accuracy: 0.7696
Epoch 50/50
804/804 [==============================] - 0s 566us/step - loss: 0.4715 - accuracy: 0.7720

In [73]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(
    X_test_scaled,
    y_test,
    verbose = 2
)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5274 - accuracy: 0.7563 - 116ms/epoch - 431us/step
Loss: 0.5274151563644409, Accuracy: 0.7562682032585144

In [74]:
# Print the model architecture
print(f"Input features: {number_input_features}")
print(f"Hidden Layer 0: {hidden_layer0_activation}, {hidden_layer0_neurons}")

for layer in range(1, total_hidden):
    activation = best_hyper.values[f'activation_layer_{layer}']
    neurons = best_hyper.values[f'units_layer_{layer}']
    print(f"Hidden Layer {layer}: {activation}, {neurons}")

Input features: 56
Hidden Layer 0: tanh, 36
Hidden Layer 1: softmax, 46
Hidden Layer 2: selu, 36