## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import pandas as pd
import tensorflow as tf

%run helper_functions.ipynb

# Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

__Target Variable__: `IS_SUCCESSFUL`

__Feature Variables__: All other columns

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN'])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Limit columns to 10 unique values
limit_unique(
    application_df,
    max_value = 10,
    columns_to_limit = ['NAME', 'APPLICATION_TYPE', 'CLASSIFICATION']
)

NAME
Other                                              29369
PARENT BOOSTER USA INC                              1260
TOPS CLUB INC                                        765
UNITED STATES BOWLING CONGRESS INC                   700
WASHINGTON STATE UNIVERSITY                          492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC      408
PTA TEXAS CONGRESS                                   368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC        331
ALPHA PHI SIGMA                                      313
TOASTMASTERS INTERNATIONAL                           293
Name: count, dtype: int64
Number of unique values: 10

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64
Number of unique values: 10

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other      887
C7000      777
C1700      287
C4000      194
C5000      116
Name: count, dtype: int64
Number of unique values: 10

In [5]:
# Since binary, convert SPECIAL_CONSIDERATIONS to 0s and 1s.
print(f"Before conversion: {application_df['SPECIAL_CONSIDERATIONS'].value_counts()}\n")

application_df['SPECIAL_CONSIDERATIONS'] = application_df['SPECIAL_CONSIDERATIONS'].map({
    'N': 0,
    'Y': 1
})
print(f"After conversion: {application_df['SPECIAL_CONSIDERATIONS'].value_counts()}")

Before conversion: SPECIAL_CONSIDERATIONS
N    34272
Y       27
Name: count, dtype: int64

After conversion: SPECIAL_CONSIDERATIONS
0    34272
1       27
Name: count, dtype: int64

In [6]:
# Get all the columns which are categorical
categorical_hot = list(application_df.select_dtypes(include="object").columns)

# Convert categorical data to numeric with `pd.get_dummies`
encoded_columns = pd.get_dummies(application_df[categorical_hot]).astype(int)
encoded_columns.head()

,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_PTA TEXAS CONGRESS,NAME_SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC,NAME_TOASTMASTERS INTERNATIONAL,NAME_TOPS CLUB INC,NAME_UNITED STATES BOWLING CONGRESS INC,NAME_WASHINGTON STATE UNIVERSITY,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [7]:
# Split our preprocessed data into our features and target arrays
# Isolate the target array
y = application_df['IS_SUCCESSFUL']

# Isolate the feature array
X = application_df.drop(columns=['IS_SUCCESSFUL'])

# Replace features with encoded equivalents
X.drop(categorical_hot, axis=1, inplace=True)

# Calculate updated feature array
X = pd.concat([X, encoded_columns], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

In [8]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [9]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train.columns)
hidden_nodes_layer0 = 80
hidden_nodes_layer1 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(
    units = hidden_nodes_layer0,
    input_dim = number_input_features,
    activation = "relu"
))

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    units = hidden_nodes_layer1,
    activation = "relu"
))

# Output layer
nn.add(tf.keras.layers.Dense(
    units = 1,
    activation = "sigmoid"
))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                4640

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 7101 (27.74 KB)
Trainable params: 7101 (27.74 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [10]:
# Compile the model
nn.compile(
    loss = "binary_crossentropy",
    optimizer = "adam",
    metrics = ["accuracy"]
)

In [11]:
# Train the model
fit_model = nn.fit(
    X_train_scaled,
    y_train,
    epochs = 100,
    verbose = 1
)

Epoch 1/100
804/804 [==============================] - 1s 537us/step - loss: 0.5365 - accuracy: 0.7312
Epoch 2/100
804/804 [==============================] - 0s 523us/step - loss: 0.5133 - accuracy: 0.7483
Epoch 3/100
804/804 [==============================] - 0s 514us/step - loss: 0.5097 - accuracy: 0.7503
Epoch 4/100
804/804 [==============================] - 0s 516us/step - loss: 0.5066 - accuracy: 0.7509
Epoch 5/100
804/804 [==============================] - 0s 513us/step - loss: 0.5062 - accuracy: 0.7516
Epoch 6/100
804/804 [==============================] - 0s 511us/step - loss: 0.5038 - accuracy: 0.7533
Epoch 7/100
804/804 [==============================] - 0s 514us/step - loss: 0.5034 - accuracy: 0.7532
Epoch 8/100
804/804 [==============================] - 0s 517us/step - loss: 0.5024 - accuracy: 0.7556
Epoch 9/100
804/804 [==============================] - 0s 515us/step - loss: 0.5017 - accuracy: 0.7541
Epoch 10/100
804/804 [==============================] - 0s 518us/step - loss: 0.5010 - accuracy: 0.7556
Epoch 11/100
804/804 [==============================] - 0s 567us/step - loss: 0.5011 - accuracy: 0.7556
Epoch 12/100
804/804 [==============================] - 0s 597us/step - loss: 0.4993 - accuracy: 0.7562
Epoch 13/100
804/804 [==============================] - 0s 559us/step - loss: 0.4994 - accuracy: 0.7566
Epoch 14/100
804/804 [==============================] - 0s 558us/step - loss: 0.4989 - accuracy: 0.7570
Epoch 15/100
804/804 [==============================] - 0s 555us/step - loss: 0.4990 - accuracy: 0.7568
Epoch 16/100
804/804 [==============================] - 0s 557us/step - loss: 0.4976 - accuracy: 0.7578
Epoch 17/100
804/804 [==============================] - 0s 560us/step - loss: 0.4977 - accuracy: 0.7561
Epoch 18/100
804/804 [==============================] - 0s 522us/step - loss: 0.4973 - accuracy: 0.7561
Epoch 19/100
804/804 [==============================] - 0s 520us/step - loss: 0.4966 - accuracy: 0.7580
Epoch 20/100
804/804 [==============================] - 0s 518us/step - loss: 0.4964 - accuracy: 0.7582
Epoch 21/100
804/804 [==============================] - 0s 522us/step - loss: 0.4964 - accuracy: 0.7568
Epoch 22/100
804/804 [==============================] - 0s 523us/step - loss: 0.4959 - accuracy: 0.7589
Epoch 23/100
804/804 [==============================] - 0s 515us/step - loss: 0.4957 - accuracy: 0.7582
Epoch 24/100
804/804 [==============================] - 0s 519us/step - loss: 0.4958 - accuracy: 0.7587
Epoch 25/100
804/804 [==============================] - 0s 521us/step - loss: 0.4954 - accuracy: 0.7576
Epoch 26/100
804/804 [==============================] - 0s 519us/step - loss: 0.4949 - accuracy: 0.7592
Epoch 27/100
804/804 [==============================] - 0s 520us/step - loss: 0.4946 - accuracy: 0.7590
Epoch 28/100
804/804 [==============================] - 0s 521us/step - loss: 0.4944 - accuracy: 0.7589
Epoch 29/100
804/804 [==============================] - 0s 518us/step - loss: 0.4940 - accuracy: 0.7595
Epoch 30/100
804/804 [==============================] - 0s 528us/step - loss: 0.4943 - accuracy: 0.7585
Epoch 31/100
804/804 [==============================] - 0s 515us/step - loss: 0.4938 - accuracy: 0.7592
Epoch 32/100
804/804 [==============================] - 0s 520us/step - loss: 0.4942 - accuracy: 0.7596
Epoch 33/100
804/804 [==============================] - 0s 521us/step - loss: 0.4936 - accuracy: 0.7591
Epoch 34/100
804/804 [==============================] - 0s 520us/step - loss: 0.4929 - accuracy: 0.7600
Epoch 35/100
804/804 [==============================] - 0s 534us/step - loss: 0.4933 - accuracy: 0.7595
Epoch 36/100
804/804 [==============================] - 0s 542us/step - loss: 0.4931 - accuracy: 0.7605
Epoch 37/100
804/804 [==============================] - 0s 525us/step - loss: 0.4932 - accuracy: 0.7602
Epoch 38/100
804/804 [==============================] - 0s 532us/step - loss: 0.4930 - accuracy: 0.7592
Epoch 39/100
804/804 [==============================] - 0s 540us/step - loss: 0.4926 - accuracy: 0.7597
Epoch 40/100
804/804 [==============================] - 0s 557us/step - loss: 0.4928 - accuracy: 0.7597
Epoch 41/100
804/804 [==============================] - 0s 526us/step - loss: 0.4924 - accuracy: 0.7597
Epoch 42/100
804/804 [==============================] - 0s 531us/step - loss: 0.4923 - accuracy: 0.7601
Epoch 43/100
804/804 [==============================] - 0s 525us/step - loss: 0.4924 - accuracy: 0.7597
Epoch 44/100
804/804 [==============================] - 0s 534us/step - loss: 0.4920 - accuracy: 0.7607
Epoch 45/100
804/804 [==============================] - 0s 530us/step - loss: 0.4921 - accuracy: 0.7604
Epoch 46/100
804/804 [==============================] - 0s 521us/step - loss: 0.4917 - accuracy: 0.7613
Epoch 47/100
804/804 [==============================] - 0s 513us/step - loss: 0.4920 - accuracy: 0.7601
Epoch 48/100
804/804 [==============================] - 0s 518us/step - loss: 0.4917 - accuracy: 0.7612
Epoch 49/100
804/804 [==============================] - 0s 521us/step - loss: 0.4915 - accuracy: 0.7610
Epoch 50/100
804/804 [==============================] - 0s 520us/step - loss: 0.4916 - accuracy: 0.7598
Epoch 51/100
804/804 [==============================] - 0s 523us/step - loss: 0.4915 - accuracy: 0.7608
Epoch 52/100
804/804 [==============================] - 0s 535us/step - loss: 0.4911 - accuracy: 0.7611
Epoch 53/100
804/804 [==============================] - 0s 522us/step - loss: 0.4914 - accuracy: 0.7606
Epoch 54/100
804/804 [==============================] - 0s 521us/step - loss: 0.4909 - accuracy: 0.7605
Epoch 55/100
804/804 [==============================] - 0s 516us/step - loss: 0.4907 - accuracy: 0.7612
Epoch 56/100
804/804 [==============================] - 0s 525us/step - loss: 0.4910 - accuracy: 0.7604
Epoch 57/100
804/804 [==============================] - 0s 548us/step - loss: 0.4912 - accuracy: 0.7607
Epoch 58/100
804/804 [==============================] - 0s 547us/step - loss: 0.4907 - accuracy: 0.7605
Epoch 59/100
804/804 [==============================] - 0s 525us/step - loss: 0.4907 - accuracy: 0.7598
Epoch 60/100
804/804 [==============================] - 0s 526us/step - loss: 0.4904 - accuracy: 0.7610
Epoch 61/100
804/804 [==============================] - 0s 523us/step - loss: 0.4901 - accuracy: 0.7608
Epoch 62/100
804/804 [==============================] - 0s 553us/step - loss: 0.4901 - accuracy: 0.7610
Epoch 63/100
804/804 [==============================] - 0s 541us/step - loss: 0.4906 - accuracy: 0.7611
Epoch 64/100
804/804 [==============================] - 0s 523us/step - loss: 0.4896 - accuracy: 0.7608
Epoch 65/100
804/804 [==============================] - 0s 515us/step - loss: 0.4902 - accuracy: 0.7613
Epoch 66/100
804/804 [==============================] - 0s 520us/step - loss: 0.4899 - accuracy: 0.7618
Epoch 67/100
804/804 [==============================] - 0s 541us/step - loss: 0.4898 - accuracy: 0.7614
Epoch 68/100
804/804 [==============================] - 0s 539us/step - loss: 0.4898 - accuracy: 0.7615
Epoch 69/100
804/804 [==============================] - 0s 533us/step - loss: 0.4898 - accuracy: 0.7612
Epoch 70/100
804/804 [==============================] - 0s 530us/step - loss: 0.4898 - accuracy: 0.7604
Epoch 71/100
804/804 [==============================] - 0s 529us/step - loss: 0.4894 - accuracy: 0.7615
Epoch 72/100
804/804 [==============================] - 0s 536us/step - loss: 0.4896 - accuracy: 0.7615
Epoch 73/100
804/804 [==============================] - 0s 536us/step - loss: 0.4895 - accuracy: 0.7613
Epoch 74/100
804/804 [==============================] - 0s 519us/step - loss: 0.4895 - accuracy: 0.7620
Epoch 75/100
804/804 [==============================] - 0s 521us/step - loss: 0.4891 - accuracy: 0.7622
Epoch 76/100
804/804 [==============================] - 0s 522us/step - loss: 0.4894 - accuracy: 0.7610
Epoch 77/100
804/804 [==============================] - 0s 523us/step - loss: 0.4894 - accuracy: 0.7615
Epoch 78/100
804/804 [==============================] - 0s 520us/step - loss: 0.4889 - accuracy: 0.7608
Epoch 79/100
804/804 [==============================] - 0s 526us/step - loss: 0.4892 - accuracy: 0.7616
Epoch 80/100
804/804 [==============================] - 0s 524us/step - loss: 0.4888 - accuracy: 0.7619
Epoch 81/100
804/804 [==============================] - 0s 522us/step - loss: 0.4896 - accuracy: 0.7613
Epoch 82/100
804/804 [==============================] - 0s 521us/step - loss: 0.4885 - accuracy: 0.7618
Epoch 83/100
804/804 [==============================] - 0s 517us/step - loss: 0.4892 - accuracy: 0.7613
Epoch 84/100
804/804 [==============================] - 0s 521us/step - loss: 0.4889 - accuracy: 0.7621
Epoch 85/100
804/804 [==============================] - 0s 520us/step - loss: 0.4890 - accuracy: 0.7608
Epoch 86/100
804/804 [==============================] - 0s 533us/step - loss: 0.4890 - accuracy: 0.7618
Epoch 87/100
804/804 [==============================] - 0s 536us/step - loss: 0.4890 - accuracy: 0.7593
Epoch 88/100
804/804 [==============================] - 0s 528us/step - loss: 0.4886 - accuracy: 0.7617
Epoch 89/100
804/804 [==============================] - 0s 520us/step - loss: 0.4888 - accuracy: 0.7609
Epoch 90/100
804/804 [==============================] - 0s 522us/step - loss: 0.4889 - accuracy: 0.7609
Epoch 91/100
804/804 [==============================] - 0s 524us/step - loss: 0.4884 - accuracy: 0.7612
Epoch 92/100
804/804 [==============================] - 0s 517us/step - loss: 0.4885 - accuracy: 0.7616
Epoch 93/100
804/804 [==============================] - 0s 523us/step - loss: 0.4883 - accuracy: 0.7622
Epoch 94/100
804/804 [==============================] - 0s 531us/step - loss: 0.4888 - accuracy: 0.7614
Epoch 95/100
804/804 [==============================] - 0s 523us/step - loss: 0.4882 - accuracy: 0.7615
Epoch 96/100
804/804 [==============================] - 0s 533us/step - loss: 0.4881 - accuracy: 0.7612
Epoch 97/100
804/804 [==============================] - 0s 520us/step - loss: 0.4883 - accuracy: 0.7613
Epoch 98/100
804/804 [==============================] - 0s 525us/step - loss: 0.4880 - accuracy: 0.7614
Epoch 99/100
804/804 [==============================] - 0s 526us/step - loss: 0.4881 - accuracy: 0.7613
Epoch 100/100
804/804 [==============================] - 0s 527us/step - loss: 0.4880 - accuracy: 0.7613

In [12]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(
    X_test_scaled,
    y_test,
    verbose = 2
)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5270 - accuracy: 0.7455 - 134ms/epoch - 499us/step
Loss: 0.5269735455513, Accuracy: 0.7455393671989441

In [13]:
# Export our model to HDF5 file
nn.save('models/AlphabetSoupCharity_iteration2.h5', save_format='h5')

/Users/alyssahondrade/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(